<!DOCTYPE html>
<html>
<head>
    <title>Matrículas</title>
    <link rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 style="color:#86754c" class="text-center">Sistema de Clientes</h1>
        <hr>

        <h3 style="color:#c1a86e;">Seleccione una opcion:</h3>
        <form action="/pago" method="post">
            <div class="form-group">
                <label for="modulo">Clientes:</label>
                <select class="form-control" id="modulo" name="modulo">
                    <option value="Basico">Cliente 1: Yoanina Mamani Paredes</option>
                    <option value="Intermedio"> Cliente 2: Julio Sandoval Llica</option>
                    <option value="Avanzado">Cliente 3: Maria Alvarez</option>
                </select>
            </div>

            <button style="color:black;background-color: #e7c892;
             border: #e7c892; margin-top: 5%;" type="submit" class="btn btn-primary">
             Ver detalle de Cliente</button>
        </form>
    </div>
</body>
</html>


