<!DOCTYPE html>
<html>
<head>
    <title>Matrículas</title>
    <link rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 style="color:#86754c" class="text-center">Sistema de Productos</h1>
        <hr>

        <form action="/" method="post">
            <h3 style="color:#c1a86e;" >Seleccione una opcion:</h3>
            <div class="form-group">
                <label for="producto">Productos:</label>
                <select class="form-control" id="medioPago" name="medioPago">
                    <option value="Producto 1">Producto 1: Detergente</option>
                    <option value="Producto 2">Producto 2: Galletas</option>
                    <option value="Producto 3">Producto 3: Leche</option>
                </select>
            </div>

            <button style="color:black;background-color: #e7c892; 
            border: #e7c892; margin-top: 5%;" type="submit" class="btn btn-primary">Ver detalle de Producto</button>
        </form>
    </div>
</body>
</html>
